.main-container
  border: 2px solid black
  padding: 10px
  button
    border-radius: 0
.upload-area
  width:100%
  .upload-form
    text-align: center
    .input-wrapper
      margin: 5% 0 0 0
      label
        padding-right:10%
      input
        box-shadow: inset 0 7px 0 -7px rgba(0,0,0,0.4)
      button
        border: 2px black solid
        margin: 0 10%
        width: 20px;
        height: 26px;
        line-height: 20px;
        min-height: 20px;
        vertical-align: top;
        font-size: 10px;
        padding: 0 0;

  .upload-btn
    text-align: center
    button
      border: 2px black solid
      margin: 5% 21% 20% 0%;
      width: 20px;
      height: 26px;
      line-height: 20px;
      min-height: 20px;
      vertical-align: top;
      font-size: 10px;
      padding: 0 0;
