<div class="main-container">
  <button mat-stroked-button color="primary">Upload Page</button>
</div>
<div class="upload-area">
  <form class="upload-form">
    <div class="input-wrapper">
      <label class="inputLabel">file:</label>
      <input class="input-with-icon-inside mat-typography" type="text"/>
      <button mat-button (click)="openDialog()" type="button">browse</button>
    </div>
  </form>
  <div class="upload-btn">
    <button class="center" mat-button>upload</button>
  </div>
</div>

